#myMap {
    height: calc(100% - 65px);
}

#colorSelection {
    position          : absolute;
    background        : #fff;
    z-index           : 1111;
    bottom            : 0;
    padding           : 1rem 0;
    right             : 25px;
    top               : 132px;
    left              : auto;
    max-width         : 165px;
    width             : 100%;
    max-height        : 355px;
    overflow          : auto;
    border-radius     : 4px;
    border            : 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(59, 59, 59, 0.39);
    -moz-box-shadow   : 2px 2px 10px 0px rgba(59, 59, 59, 0.39);
    box-shadow        : 2px 2px 10px 0px rgba(59, 59, 59, 0.39);

    p {
        padding-left : 10px;
        margin-bottom: 5px;
        font-weight  : 600;
        color        : #393942;
        font-size    : 15px;
    }

    .name {
        font-size     : 14px;
        font-family   : "Roboto", sans-serif;
        text-transform: capitalize;
        padding       : 10px 0 10px 10px;
        cursor        : pointer;

        &.shadow {
            box-shadow: 0 0 0 0.2rem #259ad740 !important;
        }

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .cm-btn {
        padding   : 0;
        background: transparent;
        border    : none;
        margin    : 0;
        color     : inherit;
        transition: all 0.5s;

        &:focus {
            box-shadow: none;
            outline   : none;
        }
    }

    &.facets-section {
        .cm-btn {
            display    : flex;
            align-items: center;
            line-height: 1;

            span {
                img {
                    width       : 17px;
                    margin-right: 0.5rem;

                    &:hover {
                        filter: invert(0%) sepia(23%) saturate(379%) hue-rotate(237deg) brightness(127%) contrast(0%);
                    }
                }
            }

        }

        .name {
            &.shadow {
                box-shadow: 0 0 0 0.2rem #259ad740 !important;
            }

            .text-right {
                padding-left   : 25px;
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                padding-right  : 15px;

                img {
                    width: 14px;

                    &:hover {
                        filter: invert(93%) sepia(0%) saturate(448%) hue-rotate(271deg) brightness(97%) contrast(75%);
                    }
                }
            }
        }
    }
}

.colorbox {
    display         : inline-block;
    width           : 25px;
    height          : 6px;
    margin-right    : 5px;
    background-color: #fff;
    border          : 2px solid;
}

.delete {
    cursor: pointer;
}

.bg-Unspecified {
    border-color: #1e0fff;
}

.bg-Eaves {
    border-color: #71bf82;
}

.bg-Valleys {
    border-color: #f0512e;
}

.bg-Hips {
    border-color: #9368b7;
}

.bg-Ridges {
    border-color: #d0efb1;
}

.bg-Rakes {
    border-color: #ffcc0f;
}

.confirmation_popup {
    position  : fixed;
    left      : 0;
    right     : 0;
    top       : 0;
    z-index   : 9999;
    background: rgba(0, 0, 0, 0.6);
    bottom    : 0;

    h6 {
        font-size     : 20px;
        margin-bottom : 20px;
        text-transform: capitalize;
        color         : #259ad7;
    }

    p {
        font-size    : 16px;
        color        : #666;
        margin-bottom: 20px;
    }

    .btn-wrap {
        display        : flex;
        align-items    : center;
        justify-content: center;

        .btn {
            margin: 0 15px;
        }
    }

    .pop-close {
        position  : absolute;
        top       : 10px;
        right     : 10px;
        width     : 15px;
        cursor    : pointer;
        transition: all 0.5s;
    }
}

.confirmation_body {
    background   : #fff;
    left         : 50%;
    top          : 50%;
    transform    : translate(-50%, -50%);
    position     : relative;
    max-width    : 550px;
    padding      : 30px;
    border-radius: 3px;
    box-shadow   : 0 0 20px rgba(0, 0, 0, 0.2);
    text-align   : center;
}

body {
    &.OpenPopup {
        position: relative;
    }
}

.btn {
    font-size  : 16px;
    line-height: 1.3;
    padding    : 7px 15px;
}

.btn-blue {
    color           : #fff;
    background-color: #259ad7;
    border-color    : #259ad7;
}

.btn-trans {
    color           : #333;
    background-color: #fff;
    border-color    : #999;
}

button.download-pdf-btn {
    float         : right;
    margin-top    : -3rem;
    min-height    : 37px;
    border        : 1px solid #393942;
    border-radius : 3px;
    outline       : none;
    color         : #f0f0f1;
    padding       : 0px 15px;
    background    : #393942;
    text-transform: uppercase;
    font-size     : 14px;
    transition    : ease 0.25s;

    &:hover {
        background: #fff;
        color     : #393942;
    }
}


#canvas {
    display: none;
}
