#home {
    padding: 0 !important;

    ul {
        &.nav {
            margin-bottom: 2px;

            li {
                .nav-link {
                    font-size    : 14px;
                    color        : #9c9c9c;
                    font-weight  : 400;
                    border-bottom: 6px solid transparent;
                    margin-right : 10px;
                    padding      : 16px;
                    transition   : all 0.3s linear;

                    &.active {
                        border-bottom: 6px solid #42b883;
                    }
                }
            }
        }
    }
}
